li :hover{
    border-bottom: 1px solid red;
    transition: 1.5s;
}

.twitter:hover{
    color: #000000;
}

.facebook:hover{
    color: #1877f2;
}

.linkedin:hover{
    color: #0a66c2;
}

.insta:hover{
    color: #c32aa3;
}

.custom-btn:hover{
    border: 1px solid #6c757d;
    color: black;
    background-color: #17a2b8;
}

/* Landing page style */
.landing-page{
    height: 89vh;
}